*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
:focus{
    outline: none;
}

#Header{
    padding: 20px 4rem;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.597);
    position: fixed;
    width: 100%;
}


#Header .left {
    width: 20%;
    float: left;
}

#Header .right {
    width: 80%;
    float: right;
    margin-top: 12px;
    text-align: right;
}

#Header .right a{
    color: #fff;
    margin-left: 20px;
}


#Meet{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    padding-top: 15rem;
    color: #fff;
}

#Meet h2{
    font-size: 36px;
}
#Meet h1{
    font-size: 72px;
    margin-bottom: 40px;
}

#Meet a{
    background-color: #ffc800;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: 0.4s;
}

#Meet a:hover{
    background-color: #ac8804;
}

#Service{
    padding: 5rem 4rem;
    overflow: auto;
}

.service-text,.works-text{
    text-align: center;
}

.service-text h3,.works-text h3{
    font-size: 40px;
    color: #212529;
}

.service-text p,.works-text p{
    color: #6c757d;
    font-size: 1rem;
    margin-top: 15px;
    font-style: italic;
}

.service-box {
    margin-top: 50px;
}

.service-box .box{
    width: calc(100%/3);
    float: left;
    text-align: center;
    padding: 0 20px;
}

.service-box svg{
    background-color: #ffc800;
    height: 5rem;
    color: #fff;
    padding: 10px;
}

.service-box .box h3{
    font-size: 24px;
    color: #212529;
    margin: 6px 0;
}

.service-box .box p{
    font-size: 16px;
    color: #6c757d;
}


#Works{
    background-color: #F8F9FA;
    padding: 4rem;
    overflow: auto;
}

.work-box .box{
    width: 30%;
    float: left;
    margin: 0 10px;
}

.work-box .box:hover img{
    filter: grayscale(1);
}

.work-box {
    margin-top: 40px;
}

.work-box .box img{
    width: 100%;
    transition: .5s;
}

.work-box .box .bottom{
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
}

#team{
    padding: 4rem 5rem;
    color: #212529;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}

#team h2{
    font-size: 40px;
    font-weight: bold;
}

#team h3{
    color: #6c757d;
    font-size: 16px;
    margin: 8px 0;
}

.photos{
    margin-top: 50px;
}

.photos .photo{
    width: calc(100%/3);
    float: left;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 50px;
}
.photos img{
    
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    width: 14rem;
    border-radius: 50%;
}

.photos .photo h4{
    color: #212529;
    font-size: 22.215px;
    margin-top: 10px;
    
}

.photos p{
    color: #6c757d;
    font-size: 16px;
    margin-top: 10px;
}
#team .finaltext{
    color: #6c757d;
    font-size: 20px;
    padding-left: 13rem; 
    padding-right: 13rem;   
}

#company{
    padding: 2rem 5rem;
    overflow: auto;
    
}
#company .companys{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    text-align: center;

}
.companys img{
    height: 4rem;
    width: 14rem;
    padding-left: 2rem;
    margin-left: 60px;
    padding-top: 25px;
}
#contact{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: #212529;  
    overflow: auto;
    padding: 4rem 4rem;
    height: auto;
    
}

#contact .context h2{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 50px;
}
#contact .context h3{
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 30px;
}
#contact .register{
    padding: 2rem 5rem;
    overflow: auto;
    width: 100%;
    height: 50%;
}
#contact .register .left{
    width: 50%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    float: left;
}
#contact .register .left input{
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 30px 20px;
    cursor: pointer;
}
#contact .register .right{
    width: 50%;
    height: 70%;
    margin-bottom: 10px;
    margin-top: 30px;
    float: right;
    padding: 0 20px;
}
#contact .register .right textarea{ 
    width: 100%;
    height: 100%;
    float: right;
    border-radius: 5px;
    padding: 30px 20px;
    cursor: pointer;
}
.button button{
    color: #FFFFFF;
    font-size: 18px;
    background-color: #ffc800;
    padding: 20px 40px;
    border-radius: 1px;
    border-color: #ffc800;
    transition: .3s;
}
.button:hover button{
    background-color: #B18E0E;
    cursor: pointer;
}
#footer{
    padding: 2rem 5rem;
    overflow: auto;
    width: 100%;
}
#footer .left{
    float: left;
    color: #212529;
    font-size: 15px;
    padding: 0 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer .right a{
    float: right;
    padding-right: 12px;
    text-decoration: none;
    color: #212529;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


